@font-face {
  font-family: "Muller";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Muller/MullerLight.eot");
  src: url("../fonts/Muller/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerLight.woff") format("woff"), url("../fonts/Muller/MullerLight.ttf") format("truetype"); }

@font-face {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Muller/MullerRegular.eot");
  src: url("../fonts/Muller/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.ttf") format("truetype"); }

@font-face {
  font-family: "Muller";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Muller/MullerMedium.eot");
  src: url("../fonts/Muller/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Muller", sans-serif;
  font-weight: normal;
  background: #ffffff;
  color: #3a3a3a; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Muller", sans-serif; }

input {
  border: solid 1px #c1c1c1;
  height: 84px;
  width: 100%;
  color: #000000;
  padding: 0 29px;
  font-size: 16px;
  font-weight: 500; }
  input::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder {
    color: #000; }
  input::-ms-input-placeholder {
    color: #000; }
  input::placeholder {
    color: #000; }

label {
  display: block;
  margin: 0 0 20px; }

form button, form .btn {
  width: 100%;
  height: 84px;
  font-size: 16px; }

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  outline: none;
  padding: 0;
  position: relative; }
  .btn:hover, .btn:focus {
    outline: none; }

.btn-accent {
  background: #ee443c;
  color: #fff;
  text-transform: uppercase;
  height: 65px;
  font-size: 16px; }
  .btn-accent:hover {
    letter-spacing: 1.1px; }
    .btn-accent:hover:before {
      right: -2px; }
    .btn-accent:hover:after {
      right: -27px; }
  .btn-accent:after, .btn-accent:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 21px;
    height: 1px;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .btn-accent:after {
    right: -21px;
    background: #ee443c; }
  .btn-accent:before {
    right: 0;
    background: #fff; }

.logo-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }
  .logo-group .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 82px;
    height: 47px; }
    .logo-group .logo:last-child {
      width: 94px; }

.text-x {
  margin: 0 27px;
  font-size: 32px;
  font-weight: 500;
  color: #ee443c; }

h1 {
  font-size: 35px;
  max-width: 802px;
  width: 100%;
  font-weight: 300; }

h2 {
  position: relative;
  text-align: center;
  font-size: 25px;
  width: 100%;
  font-weight: 300;
  color: #9e0b0b; }
  h2 span {
    position: relative;
    padding: 0 40px;
    background: #fff;
    display: inline-block;
    margin: 0 auto; }
  h2:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: #ee443c;
    width: 100%;
    height: 1px; }

.color-accent {
  color: #ee443c; }

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  background: #fff; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header .btn {
    padding: 18px;
    max-width: 135px;
    width: 100%;
    margin: 0 0 0 29px; }
    header .btn:before, header .btn:after {
      display: none; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .menu li {
    margin: 0 38px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 300;
      color: #1e1e1e; }
      .menu li a:hover {
        color: #ee443c; }

main {
  padding: 115px 0 30px;
  background: #f6f5f9;
  position: relative; }
  main:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 167px;
    width: 1177px;
    height: 213px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: 100%; }
  main > * {
    position: relative; }
  main .box-text {
    margin: 40px 0 60px;
    color: #3a3a3a;
    font-size: 16px;
    max-width: 630px;
    width: 100%; }
  main .btn {
    max-width: 306px; }

.main-without {
  -webkit-box-shadow: 0 11px 9px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 11px 9px 0 rgba(0, 0, 0, 0.07);
  margin: 0 0 50px;
  background: #fff;
  padding: 20px 10px;
  max-width: 225px;
  width: 100%;
  color: #1e1e1e; }
  .main-without h4 {
    color: #ee443c;
    font-size: 24px;
    margin: 0 0 15px 10px; }
  .main-without ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 10px; }
    .main-without ul li:last-child {
      margin: 0; }
    .main-without ul li .icon {
      width: 52px;
      height: 52px;
      min-width: 52px;
      border-radius: 50%;
      margin: 0 10px 0 0; }

.btn-view {
  max-width: 260px;
  margin: 0 auto;
  width: 100%;
  display: none; }

.main-img {
  margin: 0 0 50px;
  -webkit-box-shadow: 0 11px 9px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 11px 9px 0 rgba(0, 0, 0, 0.07); }

.main-images {
  margin: 20px 0 -80px auto;
  position: relative;
  max-width: 591px;
  width: 100%;
  z-index: 1; }
  .main-images:before, .main-images:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 152px;
    background: #ee443c;
    top: 70px; }
  .main-images:before {
    left: 0; }
  .main-images:after {
    right: 0; }
  .main-images img {
    position: relative; }

.main-content {
  position: relative;
  z-index: 1; }
  .main-content h3 {
    font-weight: 500;
    margin: 10px 0 20px;
    text-transform: uppercase; }

.revolution {
  padding: 144px 0 100px;
  background: #fff; }
  .revolution .wrapper {
    margin: 36px 0 0; }
    .revolution .wrapper .container {
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .revolution h3 {
    margin: 0 0 13px;
    color: #ee443c;
    font-size: 16px;
    font-weight: 500; }
  .revolution strong {
    font-weight: bold; }

.revolution-box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 358px;
  width: 100%; }
  .revolution-box-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.revolution-box-left {
  padding: 23px 43px 23px 0;
  color: #fff;
  position: relative;
  max-width: 460px;
  width: 100%;
  font-weight: 300;
  line-height: 1.2; }
  .revolution-box-left:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 730px;
    background: #ee443c; }
  .revolution-box-left > * {
    position: relative;
    z-index: 1; }

.revolution-box-right {
  width: calc(100% - 410px - 408px);
  padding: 24px 0 24px 36px;
  font-weight: 300; }
  .revolution-box-right ul li {
    margin: 0 0 23px; }
    .revolution-box-right ul li:last-child {
      margin: 0; }
  .revolution-box-right p {
    margin: 0 0 48px; }

.for-whom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 16px;
  font-weight: 500;
  color: #1e1e1e;
  margin: 33px 0 0; }
  .for-whom-list li {
    border-bottom: 1px solid #b6b7b8;
    margin: 0 0 15px;
    width: 48.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 25px; }

.icon-check {
  margin: 0 26px 0 0;
  width: 39px;
  min-width: 39px; }

.slick-slide {
  outline: none; }

.advantages {
  padding: 85px 0 0; }

.advantages-section-col {
  position: relative;
  border-bottom: 1px solid #ee443c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .advantages-section-col:before, .advantages-section-col:after {
    content: '';
    position: absolute;
    width: 1px;
    background: #ee443c;
    height: calc(100% - 16px);
    bottom: 0; }
  .advantages-section-col:before {
    left: 0; }
  .advantages-section-col:after {
    right: 0; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 34px;
  color: #1e1e1e;
  font-size: 16px;
  width: 32%; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.advantages-box__icon {
  width: 63px;
  height: 63px;
  min-width: 63px;
  margin: 0 27px 0 0; }

.advantages-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 33px 0 0;
  padding: 0 30px; }

.technology {
  background: #ee443c;
  color: #fff;
  margin: 36px auto -39px;
  padding: 20px;
  font-size: 16px; }
  .technology p {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    text-align: center; }

.result {
  padding: 126px 0; }

.result-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 30px 0 0; }
  .result-wrapper:before {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 213px;
    width: 1588px;
    background: url("../img/decor2.png") no-repeat center;
      background-size: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.result-box {
  margin: 0 28px 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .result-box:last-child {
    margin-right: 0; }

.result-box__title {
  margin: 0 auto;
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.18);
  width: 154px;
  height: 50px;
  text-align: center;
  background: #ee443c;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.result-box__img {
  width: 100%;
  height: 405px;
  overflow: hidden;
  -webkit-box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.18); }
  .result-box__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.price-section {
  padding: 50px 0; }

.list-price {
  width: 100%;
  margin: 15px 0 0;
  font-size: 26px;
  font-weight: bold;
  color: #3a3a3a; }
  .list-price li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 23px 0;
    border-bottom: 1px solid #a7a7a7; }
    .list-price li:last-child {
      border: none; }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ee443c; }

.old-price {
  font-size: 20px;
  margin: 0 17px 0 0;
  text-decoration: line-through; }

.price-section-wrapper {
  position: relative;
  margin: 65px 0 0; }
  .price-section-wrapper .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .price-section-wrapper h3 {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin: 0 auto 10px; }
  .price-section-wrapper .btn {
    margin: 0 auto;
    max-width: 420px;
    width: 100%; }
  .price-section-wrapper:before, .price-section-wrapper:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 613px;
    height: 90px; }
  .price-section-wrapper:before {
    left: 0;
    background: url("../img/decor5.png") no-repeat center;
      background-size: 100%; }
  .price-section-wrapper:after {
    right: 0;
    background: url("../img/decor6.png") no-repeat center;
      background-size: 100%; }

.gallery {
  padding: 112px 0 100px; }

.gallery-item {
  width: 100%;
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 533px;
  overflow: hidden; }
  .gallery-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.gallery-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.gallery-min {
  height: 126px;
  width: 19.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0; }
  .gallery-min img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.masters {
  padding: 0 0 70px; }

.masters-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 0; }

.masters-card {
  margin: 0 0 30px;
  -webkit-box-shadow: 0 6px 49px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 6px 49px 0 rgba(0, 0, 0, 0.18);
  background: #fff;
  max-width: 320px;
  width: 100%; }

.masters-card__photo {
  width: 100%;
  height: 420px;
  background: #a7a7a7; }

.masters-card__body {
  width: 100%;
  padding: 30px;
  color: #3a3a3a;
  line-height: 1.5;
  text-align: center; }

.masters-card__name {
  font-size: 20px;
  margin: 0 auto 18px;
  font-weight: bold;
  line-height: 1; }

.articles {
  position: relative; }
  .articles:before, .articles:after {
    content: '';
    position: absolute;
    top: -130px;
    width: 160px;
    height: 309px;
    z-index: 1; }
  .articles:before {
    left: 0;
    background: url("../img/decor3.png") no-repeat center;
      background-size: 100%; }
  .articles:after {
    right: 0;
    background: url("../img/decor4.png") no-repeat center;
      background-size: 100%; }

.articles-box {
  max-width: 320px;
  width: 100%;
  color: #3a3a3a;
  font-size: 14px;
  margin: 0 0 60px;
  outline: none; }

.articles-box__img {
  height: 226px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .articles-box__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.articles-box__body {
  width: 100%;
  padding: 20px 0 0; }

.date {
  color: rgba(58, 58, 58, 0.7);
  font-size: 14px; }

.articles-box__cat {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 13px;
  color: #3a3a3a; }

.articles-box__title {
  margin: 24px 0 14px;
  max-width: 230px;
  width: 100%;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 500; }

.articles-box__text {
  margin: 14px 0 0;
  line-height: 1.71; }

.copyright {
  padding: 24px 0;
  border-top: 1px solid #ee443c;
  width: 100%;
  text-align: center; }

.btn-burger {
  width: 24px;
  height: 14px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .btn-burger span {
    width: 100%;
    height: 1px;
    background: #ee443c; }

.mobile-menu {
  display: none;
  max-width: 280px;
  width: 100%;
  position: fixed;
  z-index: 5;
  padding: 30px 20px;
  background: #fff;
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.18); }
  .mobile-menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0 0; }
    .mobile-menu .menu li {
      margin: 0 0 10px; }
      .mobile-menu .menu li a {
        font-size: 16px; }

.btn-close {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0 0 20px; }

.modal__div {
  position: fixed;
  width: 100%;
  max-width: 588px;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }
  .modal__div h2 {
    margin: 0 auto 40px; }
    .modal__div h2:before {
      display: none; }

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 18px;
  right: 18px; }

.modal__wrapper {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 50px auto;
  padding: 76px 67px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

.overlay {
  z-index: 100;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

@media only screen and (max-width: 1820px) {
  .price-section-wrapper:before {
    left: -150px; }
  .price-section-wrapper:after {
    right: -150px; } }

@media only screen and (max-width: 1530px) {
  .articles:before, .articles:after {
    width: 100px;
    height: 190px;
    top: -80px; } }

@media only screen and (max-width: 1400px) {
  .main-images {
    max-width: 450px;
    margin: 0 0 -30px auto; }
  main {
    padding: 100px 0 50px; }
  .menu li {
    margin: 0 15px 0 0; }
  .text-x {
    margin: 0 15px; }
  .price-section-wrapper:before {
    left: -350px; }
  .price-section-wrapper:after {
    right: -350px; } }

@media only screen and (max-width: 1350px) {
  .result-box {
    max-width: 260px; }
  .result-box__img {
    height: 350px; }
  .list-price {
    font-size: 20px; }
  .old-price {
    font-size: 18px; } }

@media only screen and (max-width: 1200px) {
  header .menu {
    display: none; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .btn {
    font-size: 14px; }
  .main-content {
    max-width: 560px; }
  main:after {
    width: 700px; }
  main .box-text {
    font-size: 18px; }
  .main-images {
    margin: 0 0 0 auto;
    max-width: 400px; }
    .main-images:before, .main-images:after {
      width: 110px; }
  .revolution-box-left {
    max-width: 300px; }
  .revolution-box-right {
    width: calc(100% - 408px - 300px); }
  h2 {
    font-size: 30px; }
  .revolution {
    padding: 70px 0; }
  .result-box {
    max-width: 220px; }
  .result-box__img {
    height: 300px; }
  .result-box__title {
    font-size: 20px; }
  .gallery {
    padding: 70px 0; }
  .advantages-section-col:before, .advantages-section-col:after {
    height: calc(100% - 19px); } }

@media only screen and (max-width: 992px) {
  .main-images {
    margin: 0 auto;
    max-width: 270px;
    position: absolute;
    right: 20px;
    bottom: 120px; }
    .main-images:before, .main-images:after {
      width: 80px;
      top: 50px; }
  .main-content {
    max-width: none;
    margin: 0 auto 30px; }
    .main-content h3 {
      text-align: center; }
    .main-content .box-text {
      max-width: none;
      text-align: center; }
  h1 {
    font-size: 30px;
    text-align: center;
    max-width: none; }
    h1 br {
      display: none; }
  .main-without {
    margin: 0 0 30px; }
  .btn {
    height: 50px;
    font-size: 12px; }
  main .btn {
    max-width: 300px;
    margin: 0 auto; }
  .revolution-box-left {
    max-width: none;
    padding: 20px;
    font-weight: 400;
    background: #ee443c; }
    .revolution-box-left:before {
      display: none; }
  .revolution-box-img {
    max-width: none;
    max-height: 250px; }
  .revolution-box-right {
    width: 100%;
    padding: 20px 0; }
    .revolution-box-right p {
      margin: 0 0 20px; }
  .advantages-box {
    font-size: 14px; }
  .result {
    padding: 100px 0 70px; }
  .result-box__title {
    height: 40px; }
  .row {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .price-section-wrapper:before, .price-section-wrapper:after {
    display: none; }
  .price-section {
    padding: 70px 0; }
  .price-section-wrapper {
    margin: 40px 0 0; }
  .gallery-min {
    width: 24.5%; }
  .masters-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .masters {
    padding: 0 0 50px; }
  .copyright {
    line-height: 1.4; }
  h2 span {
    padding: 0 20px; }
  .revolution h2 span {
    max-width: 87%;
    margin: 0 auto; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px; }
  header .btn {
    padding: 5px;
    font-size: 10px;
    margin: 0;
    max-width: 90px; }
  h2 {
    font-size: 20px; }
    h2 br {
      display: none; }
  .revolution {
    padding: 50px 0; }
  .for-whom-list {
    font-size: 14px; }
  .advantages-box {
    width: 49%; }
  .advantages {
    padding: 50px 0 0; }
  .old-price {
    font-size: 14px; }
  .list-price {
    font-size: 14px; }
  .gallery {
    padding: 50px 0; }
  .gallery-min {
    width: 33.3%;
    padding: 0 5px; }
  .gallery-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .articles:before, .articles:after {
    width: 55px;
    height: 100px;
    top: -40px; }
  .masters-card {
    max-width: 48%; }
  .articles-box {
    margin: 0 20px 40px 0; }
  .advantages-section-col:before, .advantages-section-col:after {
    height: calc(100% - 12px); } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .for-whom-list li {
    width: 100%;
    padding: 15px;
    display: none; }
    .for-whom-list li:nth-child(-n+3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .btn-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .icon-check {
    width: 25px;
    min-width: 25px;
    margin: 0 10px 0 0; }
  .advantages .btn-view {
    margin: 0 auto 30px; }
  .advantages-box {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none; }
    .advantages-box:first-child, .advantages-box:nth-child(2), .advantages-box:nth-child(3), .advantages-box:nth-child(7) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .advantages-box:nth-child(-n+3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .advantages-box__icon {
    margin: 0 20px 0 0; }
  .technology {
    font-size: 14px;
    margin: 0 auto -30px; }
  .result-box {
    width: 49%;
    margin: 0 0 30px; }
  .row {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .result-box__img {
    height: 250px; }
  .list-price p {
    max-width: 201px; }
  .gallery-min {
    height: 100px; }
  .modal__wrapper {
    padding: 30px; }
  input {
    padding: 0 15px;
    font-size: 14px;
    height: 50px; }
  form button, form .btn {
    height: 50px;
    font-size: 14px; }
  .main-images {
    max-width: 200px;
    bottom: 160px; }
    .main-images:before, .main-images:after {
      width: 60px; }
  .main-without {
    max-width: 180px;
    font-size: 12px; }
    .main-without h4 {
      font-size: 16px; }
  .main-content h3 {
    margin: 40px 0 30px; }
  .price-section {
    padding: 50px 0 0; }
  .masters-card__photo {
    height: 300px; }
  .masters-card__body {
    padding: 15px; }
  .advantages-wrapper {
    padding: 0 15px; }
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
  header .btn {
    margin: 0 -15px 0 0; }
  .btn-burger {
    width: 75px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .btn-burger span {
      width: 20px; } }

@media only screen and (max-width: 480px) {
  .logo {
    max-width: 60px; }
  .text-x {
    margin: 0 10px;
    font-size: 17px; }
  .gallery-min {
    width: 50%; }
  .result-box__title {
    width: 120px;
    font-size: 14px;
    height: 35px; }
  .result-wrapper:before {
    bottom: auto;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .masters-card__photo {
    height: 250px; }
  main .box-text, .revolution-box, .articles-box__cat, .articles-box__title {
    font-size: 14px; }
  .articles-box__title {
    margin: 10px 0; }
  .articles-box__text {
    line-height: 1.15; }
  main {
    padding: 90px 0 10px; }
  .for-whom-list li {
    padding: 5px 10px; }
  .revolution {
    padding: 30px 0; }
  .advantages-box {
    margin: 0 0 15px; }
  .result {
    padding: 70px 0 0; }
  .price-section {
    padding: 40px 0 0; }
  .list-price li {
    padding: 15px 0; }
  .price-section-wrapper {
    margin: 20px 0 0; }
    .price-section-wrapper h3 {
      font-size: 16px; }
  .masters-wrapper {
    margin: 30px 0 0; }
  .masters {
    padding: 0 0 30px; }
  .copyright {
    padding: 20px 0; }
  .articles-box {
    margin: 0 10px 30px 0; }
  .articles-box__img {
    height: 180px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .list-price p {
    max-width: none;
    margin: 0 0 5px; }
  .articles:before, .articles:after {
    display: none; }
  .main-images {
    max-width: 140px;
    right: 10px; }
    .main-images:before, .main-images:after {
      width: 40px;
      top: 30px; }
  .main-without {
    max-width: 150px;
    margin: 0 0 30px 10px; }
    .main-without h4 {
      font-size: 14px; }
    .main-without ul li .icon {
      width: 30px;
      height: 30px;
      min-width: 30px; }
  .masters-card {
    font-size: 14px; }
  .masters-card__photo {
    height: 180px; }
  .masters-card__name {
    font-size: 16px; }
  header .btn {
    max-width: 70px;
    font-size: 8px; }
  .btn-burger {
    width: 55px; }
  h2 {
    font-size: 16px; }
    h2 span {
      padding: 0 10px; }
  .advantages-section-col:before, .advantages-section-col:after {
    height: calc(100% - 10px); }
  .articles-box__text {
    font-size: 12px; } }

@media only screen and (max-width: 370px) {
  .main-without {
    max-width: 140px; }
  .main-images {
    bottom: 180px; } }
