@import "vars"

@media only screen and (max-width : 1820px)
  .price-section-wrapper:before
    left: -150px

  .price-section-wrapper:after
    right: -150px

@media only screen and (max-width : 1530px)
  .articles:before, .articles:after
    width: 100px
    height: 190px
    top: -80px

@media only screen and (max-width : 1400px)
  .main-images
    max-width: 450px
    margin: 0 0 -30px auto

  main
    padding: 50px 0

  .menu li
    margin: 0 15px 0 0

  .text-x
    margin: 0 15px

  .price-section-wrapper:before
    left: -350px

  .price-section-wrapper:after
    right: -350px

@media only screen and (max-width : 1350px)
  .result-box
    max-width: 260px

  .result-box__img
    height: 350px

  .list-price
    font-size: 20px

  .old-price
    font-size: 18px

@media only screen and (max-width : 1200px)
  header
    .menu
      display: none
      
  .btn-burger
    display: flex

  .btn
    font-size: 14px

  .main-content
    max-width: 560px

  main
    &:after
      width: 700px
    .box-text
      font-size: 18px

  .main-images
    margin: 0 0 0 auto
    max-width: 400px
    &:before, &:after
      width: 110px

  .revolution-box-left
    max-width: 300px

  .revolution-box-right
    width: calc(100% - 408px - 300px)

  h2
    font-size: 30px

  .revolution
    padding: 70px 0

  .result-box
    max-width: 220px

  .result-box__img
    height: 300px

  .result-box__title
    font-size: 20px

  .gallery
    padding: 70px 0


@media only screen and (max-width : 992px)
  .main-images
    margin: 0 auto
    max-width: 300px
    &:before, &:after
      width: 80px
      top: 50px

  .main-content
    max-width: none
    margin: 0 auto 30px
    .box-text
      max-width: none
      text-align: center

  h1
    font-size: 30px
    text-align: center
    max-width: none
    br
      display: none

  .main-img
    margin: 0 auto 20px
    max-width: 120px

  .btn
    height: 50px
    font-size: 12px

  main
    .btn
      max-width: 300px
      margin: 0 auto

  .revolution-box-left
    max-width: none
    padding: 20px
    background: $accent
    &:before
      display: none

  .revolution-box-img
    max-width: none
    max-height: 250px

  .revolution-box-right
    width: 100%
    padding: 20px
    p
      margin: 0 0 20px

  .advantages-box
    font-size: 16px

  .result
    padding: 100px 0 70px

  .result-box__title
    height: 40px

  .row
    width: 100%
    justify-content: center

  .price-section-wrapper:before, .price-section-wrapper:after
    display: none

  .price-section
    padding: 70px 0

  .price-section-wrapper
    margin: 40px 0 0

  .gallery-min
    width: 24.5%

  .masters-wrapper
    justify-content: space-around

  .masters
    padding: 0 0 50px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  h1
    font-size: 24px

  header .btn
    padding: 5px
    font-size: 10px
    margin: 0
    max-width: 90px

  h2
    font-size: 24px
    br
      display: none

  .revolution
    padding: 50px 0

  .for-whom-list
    font-size: 16px

  .advantages-box
    width: 49%

  .advantages
    padding: 50px 0 0

  .old-price
    font-size: 14px

  .list-price
    font-size: 16px

  .gallery
    padding: 50px 0

  .gallery-min
    width: 33.3%
    padding: 0 5px

  .gallery-wrapper
    justify-content: flex-start

  .articles:before, .articles:after
    width: 55px
    height: 100px
    top: -40px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px)
  .for-whom-list li
    width: 100%
    padding: 15px

  .icon-check
    width: 25px
    min-width: 25px
    margin: 0 10px 0 0

  .advantages-box
    width: 100%

  .advantages-box__icon
    margin: 0 20px 0 0

  .technology
    font-size: 16px
    margin: 0 auto -30px

  .result-box
    width: 49%
    margin: 0 0 30px

  .row
    justify-content: space-around

  .result-box__img
    height: 250px

  .list-price
    p
      max-width: 201px

  .gallery-min
    height: 100px

  .modal__wrapper
    padding: 30px

  input
    padding: 0 15px
    font-size: 16px
    height: 50px

  form
    button, .btn
      height: 50px
      font-size: 16px

@media only screen and (max-width : 480px)
  .logo
    max-width: 60px

  .text-x
    margin: 0 10px
    font-size: 20px

  .result-box
    width: 100%

  .gallery-min
    width: 50%

/* Custom, iPhone Retina */
@media only screen and (max-width : 420px)
  .list-price p
    max-width: none
    margin: 0 0 5px

  .articles:before, .articles:after
    display: none

